<h4 class="modal-tt">公共设施选择</h4>
<div class="container-fluid fz14 plr40 ptb20">
    <div class="row">
        <p class="col-md-12">如有新增公共设施，请联系您的业务代表添加</p>
    </div>
    <ul class="facility-list">
        <li ng-repeat="(facilityKey, facilityTxt) in vm.publicFacilities">
            <label class="module-config-item-children mlr0">
                <span class="checkbox mtb0" ng-class="{selected: vm.facilityMap[facilityKey]}">
                    <input type="checkbox"
                           ng-model="vm.facilityMap[facilityKey]"/>
                    <i></i>
                </span>
                <span ng-bind="facilityTxt"></span>
            </label>
        </li>
    </ul>
</div>
<div class="modal-ft">
    <button class="cms-btn cms-btn-lg" type="button" ng-click="cancel()">取消</button>
    <button class="cms-btn cms-btn-heavy-lg" type="button" ng-click="confirm()">确认</button>
</div>