<h4 class="modal-tt">自定义首屏店铺</h4>
<div class="container-fluid fz14 p20">
    <div class="row">
        <p class="col-md-12 fz12">
            该楼层现有<strong>70</strong>个店铺，您最多可以设置首屏<strong>25</strong>个默认展示店铺，其余店铺按您所设置的排序顺序展示
        </p>
    </div>
    <div class="row">
        <div class="col-md-1">
            <span>01</span>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-default wp100">请点击添加要首屏展示的店铺</button>
        </div>
        <div class="col-md-5">
            <div class="sort-btn-ctn">
                <button><i class="icon icon-arrow-down">下</i></button>
                <button><i class="icon icon-arrow-up">上</i></button>
                <button>+</button>
                <button>-</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-ft">
    <button class="cms-btn cms-btn-lg" type="button" ng-click="cancel()">取消</button>
    <button class="cms-btn cms-btn-heavy-lg" type="button" ng-click="confirm()">确认</button>
</div>