<h4 class="modal-tt">公共设施LOGO库</h4>
<div class="container-fluid fz14 p20">
    <div class="row">
        <p class="col-md-12">指定显示LOGO组</p>
    </div>
    <div class="row" ng-repeat-start="(groupName, groupObj) in vm.facilityDefaultIcon">
        <div class="col-md-12">
            <label class="module-config-item-children mlr0">
                <span class="radio" ng-class="{selected: vm.selectedLogoGroup === groupName}">
                    <input type="radio" ng-model="vm.selectedLogoGroup" ng-value="groupName"/>
                    <i></i>
                </span>
                <span ng-bind="groupObj.group_display_name"></span>
            </label>
        </div>
    </div>
    <div class="row" ng-class="{dashed: !$last}" ng-repeat-end>
        <div class="col-md-12">
            <span class="icon-box" ng-repeat="(facilityName, facilityUrl) in groupObj.facilities">
                <img ng-src="{{facilityUrl}}" alt="{{facilityName}}"/>
                <span ng-bind="vm.publicFacilities[facilityName]"></span>
            </span>
        </div>
    </div>
</div>
<div class="modal-ft">
    <button class="cms-btn cms-btn-lg" type="button" ng-click="cancel()">取消</button>
    <button class="cms-btn cms-btn-heavy-lg" type="button" ng-click="confirm()">确认</button>
</div>