<h4 class="modal-tt">公共设施LOGO库</h4>
<div class="container-fluid fz14 p20">
    <div class="row">
        <p class="col-md-12">指定显示LOGO组</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="module-config-item-children mlr0">
                    <span class="radio">
                        <input type="radio"/>
                        <i></i>
                    </span>
                <span>LOGO组名1</span>
            </label>
        </div>
    </div>
    <div class="row dashed">
        <div class="col-md-12">
            <div class="logo-group logo-group-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="module-config-item-children mlr0">
                    <span class="radio">
                        <input type="radio"/>
                        <i></i>
                    </span>
                <span>LOGO组名2</span>
            </label>
        </div>
    </div>
    <div class="row dashed">

    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="module-config-item-children mlr0">
                    <span class="radio">
                        <input type="radio"/>
                        <i></i>
                    </span>
                <span>LOGO组名3</span>
            </label>
        </div>
    </div>
    <div class="row">

    </div>
</div>
<div class="modal-ft">
    <button class="cms-btn cms-btn-lg" type="button" ng-click="cancel()">取消</button>
    <button class="cms-btn cms-btn-heavy-lg" type="button" ng-click="confirm()">确认</button>
</div>