.logo-group{
    background-size: 100% !important;
}

.logo-group-1{
    background: url('img/logo-group-1.png') no-repeat;
    height: 280px;
    width: 960px;
}

.logo-group-pre-1{
    background: url('img/logo-group-pre-1.png') no-repeat;
    height: 46px;
    width: 551px;
}