<div class="demo">
    <div class="demo-in">
        <input type="checkbox" ng-model="showMallLogo"/>
        显示商家logo

        <div class="theme-blue-purple">
            <div class="layout-info1 layout-info1-0">
                <div class="layout-show layout-show1">
                    <div class="pull-left">
                        <div class="db">
                            <div class="layout-city">
                                上海
                            </div>
                            <div class="layout-time"><datetime type="time"></datetime></div>

                        </div>
                        <div class="layout-datetime">
                            <datetime type="date"></datetime>&nbsp;
                            <datetime type="week"></datetime>
                        </div>
                    </div>
                    <div class="pull-right text-right">
                        <div class="db">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show2">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                            <div class="dib vam">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 星期四
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show3">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="dib">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 &emsp;星期四
                                </div>&emsp;
                                <div class="layout-city">
                                    上海
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo">
                                <div class="layout-mall-name">
                                    百联又一城
                                </div>
                                <img src="img/icon-mall.jpg" class="layout-mall-logo-i"  ng-if="showMallLogo" alt=""/>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show4">
                    <div class="pull">
                        <div class="pull-left">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="layout-infos">
                                <div class="dib">
                                    <div class="db">
                                        <div class="layout-time">10:35</div>
                                    </div>
                                    <div class="layout-datetime">
                                        2014.10.24 星期四
                                    </div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-logos">
                        <div class="layout-mall-logo" ng-if="showMallLogo">

                            <img src="img/icon-mall.jpg" class="layout-mall-logo-i" alt=""/>
                        </div>
                        <div class="layout-ry-logo">
                            <i class="layout-ry-logo-i"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-orange">
            <div class="layout-info1 layout-info1-0">
                <div class="layout-show layout-show1">
                    <div class="pull-left">
                        <div class="db">
                            <div class="layout-city">
                                上海
                            </div>
                            <div class="layout-time">10:35</div>
                        </div>
                        <div class="layout-datetime">
                            2014.10.24&emsp;星期四
                        </div>
                    </div>
                    <div class="pull-right text-right">
                        <div class="db">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show2">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                            <div class="dib vam">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 星期四
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show3">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="dib">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 &emsp;星期四
                                </div>&emsp;
                                <div class="layout-city">
                                    上海
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo">
                                <div class="layout-mall-name">
                                    百联又一城
                                </div>
                                <img src="img/icon-mall.jpg" class="layout-mall-logo-i"  ng-if="showMallLogo" alt=""/>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show4">
                    <div class="pull">
                        <div class="pull-left">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="layout-infos">
                                <div class="dib">
                                    <div class="db">
                                        <div class="layout-time">10:35</div>
                                    </div>
                                    <div class="layout-datetime">
                                        2014.10.24 星期四
                                    </div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-logos">
                        <div class="layout-mall-logo" ng-if="showMallLogo">

                            <img src="img/icon-mall.jpg" class="layout-mall-logo-i" alt=""/>
                        </div>
                        <div class="layout-ry-logo">
                            <i class="layout-ry-logo-i"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-colorful">
            <div class="layout-info1 layout-info1-0">
                <div class="layout-show layout-show1">
                    <div class="pull-left">
                        <div class="db">
                            <div class="layout-city">
                                上海
                            </div>
                            <div class="layout-time">10:35</div>
                        </div>
                        <div class="layout-datetime">
                            2014.10.24&emsp;星期四
                        </div>
                    </div>
                    <div class="pull-right text-right">
                        <div class="db">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show2">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                            <div class="dib vam">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 星期四
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo" ng-if="showMallLogo">
                                <div class="layout-mall-logo-i">
                                    <img src="img/icon-mall.jpg" class="" alt=""/>
                                </div>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show3">
                    <div class="text-left">
                        <div class="layout-infos">
                            <div class="dib">
                                <div class="db">
                                    <div class="layout-time">10:35</div>
                                </div>
                                <div class="layout-datetime">
                                    2014.10.24 &emsp;星期四
                                </div>&emsp;
                                <div class="layout-city">
                                    上海
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="layout-logos">
                            <div class="layout-mall-logo">
                                <div class="layout-mall-name">
                                    百联又一城
                                </div>
                                <img src="img/icon-mall.jpg" class="layout-mall-logo-i"  ng-if="showMallLogo" alt=""/>
                            </div>
                            <div class="layout-ry-logo">
                                <i class="layout-ry-logo-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-show layout-show4">
                    <div class="pull">
                        <div class="pull-left">
                            <div class="layout-mall-name">
                                百联又一城
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="layout-infos">
                                <div class="dib">
                                    <div class="db">
                                        <div class="layout-time">10:35</div>
                                    </div>
                                    <div class="layout-datetime">
                                        2014.10.24 星期四
                                    </div>
                                    <div class="layout-city">
                                        上海
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-logos">
                        <div class="layout-mall-logo" ng-if="showMallLogo">

                            <img src="img/icon-mall.jpg" class="layout-mall-logo-i" alt=""/>
                        </div>
                        <div class="layout-ry-logo">
                            <i class="layout-ry-logo-i"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
